.App {
  text-align: center;
  padding-bottom: 100px;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  font-size: calc(5px + 2vmin);
  color: white;
}

.logo-img {
  padding-left: 5px;
  position: "relative";
  width: 140px;
  height: 70px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  display: block;
  margin-top: 10px;
}

.card {
  width: 80% !important;
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 30px;
  margin-top: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;
  border: 5px solid black;
  text-align: justify;
  color: black;
  padding-left: 80px;
}


.form-group {
  padding-left: 50px;
  padding-right: 50px;
}

input[type="radio"]{
  margin: 0 5px 0 20px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.candidateReg {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.recruiterReg {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.footer{
  background-color: #292d35;
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.header-text {
  text-align: center;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-decoration: underline;
}

.header-main {
  text-align: center;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  font-size: 70px;
  border: 5px solid black;
  border-radius: 5px;
  border: 5px solid black;
  color: white;
  background-color: #3a3f49 ;
}

.profile {
  font-size: x-large;
  font-family: sans-serif;
  color: darkblue;
  align-self: center;
  margin: auto;
  padding-top: 10px;
}

#return-profile{
  margin-left: 40px;
}


.mini-card {
  width: 60% !important;
  background-color: whitesmoke;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  color: black;
}

.header-sub {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}

.footer-card {
  width: 100% !important;
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 30px;
  margin-top: 20px;
  text-align: justify;
  color: black;
}

.landing-page {
  width: 100%;
  height: 100%;
  background-color: black;
  color: aliceblue;
}

#status-button{
  padding-left: 10px;
  padding-right: 10px;
}

.micro-card {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  width: 62% !important;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.status-update {
  text-align: center;
  padding-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
}

/* About us Page */


.container_AboutUs{
  background: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #03162b;
  overflow:visible;
}
.container_AboutUs .Job  p {
  font-size: 3.5rem ;
  font-weight: bolder;
}

.container_AboutUs .Job span{
  color: rgb(167, 134, 28);
  font-size: 4.5rem ;
}

.container_AboutUs .f1{
  padding: 2%;
  
  margin: 5%;
  background-color: rgb(246, 247, 240);
  box-shadow: rgba(75, 75, 85, 0.2) 4px 7px 29px 10px;
  border: none;
}
.container_AboutUs .websitelogo{
  max-width: 50%;
  display: block;
  margin: auto;
  padding: 5%;
}
.container_AboutUs .websitelogo img{
   width: 100%;
}
.container_AboutUs .websitecont{
  padding: 2% 5% 2% 5%;  
  font-size: 1.2 rem;
}.container_AboutUs .technology .title{
    font-size: 3rem;
    padding: 2%;
    text-align: center;
} 
.container_AboutUs .technology{
  text-align: left;
  background: linear-gradient(#3d789b 80%, #69c8ff);
  color: #dfe4f5;
}
.container_AboutUs .team {
  max-width: 80%;
  display: block;
  margin: auto;
  padding: 3%;
 
}
.container_AboutUs .team .title{
  font-size: 3.5rem;
    padding: 2%;
    text-align: center;
}

.container_AboutUs .team .teamcard{
     display: grid;
     grid-template-columns: 3fr 4fr;
     margin-top: 5%;
} 

.container_AboutUs .team .teamcard img{
  width: 100%;
}
.container_AboutUs .team .teamcard .teamcont ul{
  list-style-type: none;
  margin: 0;
  padding: 2%

}


/*  Help page */
.helpcontainer{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#ffffff 30%, #69c8ff);
}
.helpcontainer .title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:4% 0 0 0 ;
  width: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 4.5em;
  margin-bottom: 7%;
  color: #b69c08;

}
.helpcontainer .tag{
   position: relative;
   padding: 2%;
   width: 55vw;
   margin: 2%;
   transition-duration: 2s;
   transition-timing-function: ease-in-out;
 }
 .helpcontainer .tagtitle{
    font-size: 40px;
    position: absolute;
    background-color: #3f7a9c;
    color: rgb(255, 255, 255);
    padding-top: 3%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: all 250ms;
    transition-timing-function: ease-in-out;
 }
 .helpcontainer .tagcontent{
    position: relative;
    color: #ffffff;
    background-color: #afa842;
    padding: 1%;
    font-size: 25px;
    transform: scale(.7);
    transition: all 250ms;
    transition-timing-function: ease-in-out;   
 }
 .helpcontainer .tag:hover .tagtitle{
   transform: scale(.7);
   opacity: 0;
 }
 .helpcontainer .tag:hover .tagcontent{
  transform: scale(1);
  transition: all 250ms;
  transition-timing-function: ease-in-out;
  
  border-radius: 1%;
  box-shadow: rgba(75, 75, 85, 0.2) 1em 1em 1em .1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}